*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 1fr 35px;
}

.container > header {
  grid-row: 1 / 2;
}

.container > main {
  grid-row: 2 / 3;
}

.container > footer {
  grid-row: 3 / 4;
}

header,
main,
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  height: 100px;
  position: relative;
}

.main {
  overflow-y: scroll;
  text-align: justify;
  overflow: hidden;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 30px;
}

.logoImg {
  height: 70px;
  position: absolute;
  top: 15px;
  left: 25px;
}

.filterSelect {
  display: grid;
  justify-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.loadButton {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  position: absolute;
  top: 25px;
  right: 40px;
  border: none;
}
.loadButton:hover {
  scale: 1.2;
  cursor: pointer;
}

.card {
  height: 200px;
  width: 200px;
  border-radius: 65px;
  margin: 2px;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}

.cardImg {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 190px;
  height: 130px;
  border-radius: 60px 60px 0 0;
  object-fit: cover;
}

label {
  margin-bottom: 4px;
}

form {
  display: grid;
  align-items: center;
}

.name {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  margin-top: 5px;
  font-size: 0.9em;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

@media only screen and (min-width: 650px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1250px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
